@media(max-width:670px){
    .n-wrapper{
        display:none;
    }

    .members{
        flex-direction: column
    }

    .member-content{
        width:80%;
        margin:0 auto;
    }

    .abilities{
        flex-direction: column;
    }

    .recruit{
        display: none;
    }

    .skills{
        flex-direction: column;
        
    }

    .steps{
        flex-direction: column;
    }

    .privileges{
        flex-direction: column;
    }

    .header-right{
        display: none;
    }

    .header{
        display: none;
    }

    .company-content{
        display: none;
    }

    .step{
        margin:0 auto;
        width:80%;
    }

    .merits{
        flex-direction: column;
    }

    .merit img{
        width:345px;
        height:120px;
        
    }

    .merit{
        margin:0 auto;
        text-align: center;
    }

    .lesson-lists{
        flex-direction: column;
    }
}