*{
    box-sizing: border-box;

}


a{
    text-decoration: none;

}

.container{
    max-width:1170px;
    width: 100%;
    margin:0 auto;

}

.header{
    height:40px;
    padding:10px 0;
    position:fixed;
    top: 0;
    z-index: 10;
    width:100%;
    background-color: white;
}

.header-left{
    float:left;
    display: flex;
}


.header-left img{
    height:40px;
    width:124px;

}

.header-right{
    float:right;
    background-color: lightcoral;
    padding:0px 40px;
    border-radius: 25px;
    opacity:0.8;

}

.header-right:hover{
    opacity:1;

}

.header-right a{
    display:inline-block;
    line-height:40px;
    color: white;
    letter-spacing: 1px;
}

.a-wrapper{
    background-image: url(Isara_img/main.jpg);
    background-size: cover;
    text-align:center;
    padding:150px 0;
    
}

.a-wrapper img{
    width:350px;
    height:135px;

}

.b-wrapper {
    background-color: burlywood;
    text-align: center;
    padding:20px 0;
    color:white;
}

.b-wrapper p {
    font-size:20px;
    letter-spacing: 1px;
}
.spotlight{
    width:45%;
    margin:0 auto;
}

.spotlight p{
    padding:0 4px;
    border-radius: 5px;
    background-color: white;
    color:red;

}

.recruit {
    color:white;
    padding:30px 300px;
    display: inline-block;
    background-color: lightcoral;
    border-radius: 100px;
    margin:30px 0;
}

.recruit a{
    font-size:23px;
    color:white;
    display:inline-block;
}

.btn {
    padding:5px 10px;
    display: inline-block;
    font-size:5px;
    border-radius: 5px;
    margin:0 5px;
    color:white;
}

.twitter{
    background-color: cyan;

}

.good{
    background-color: dodgerblue;

}

.share{
    background-color: dodgerblue;    

}

.fa{
    margin-right:5px;
    color:white;
}

.c-wrapper{
    background-image: url(Isara_img/introbottom.jpg);
    background-size: cover;
    text-align: center;
    padding:40px 0 40px 0;
  

}

.headline{
    position:relative;
    height:80px;
    width: 70%;
    margin:0 auto;
}

.headline::before{
    
    content: '';
    position:absolute;
    top: 0;
    left:0;
    width:50px;
    height:50px;
    border-top:5px solid burlywood;
    border-left:5px solid burlywood;    

}

.headline::after{
    content: '';
    position:absolute;
    bottom: 0;
    right:0;
    width:50px;
    height:50px;
    border-bottom:5px solid burlywood;
    border-right:5px solid burlywood;  

}

.headline h2{
    line-height:80px;
    font-size:28px;
    letter-spacing: 3px;
}

.message{
    padding :30px 0 120px 0;
}

.message p{
    font-size:20px;
    letter-spacing: 1px;
}

.message span{
    background:linear-gradient(transparent 70%, #FFFF00 0%);

}

.d-wrapper{
    text-align: center;
    background-color: blanchedalmond;
    padding:0px 0 50px 0;
    
}

.aboutcircle p{
    position:relative;
    top:-40px;
    width: 80px;
    height:80px;
    background-color: coral;
    border-radius: 40px;
    line-height:80px;
    margin:0 auto;
}



.headline2{
    position:relative;
    height:160px;
    width: 70%;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline2::before{
    
    content: '';
    position:absolute;
    top: 0;
    left:0;
    width:50px;
    height:50px;
    border-top:5px solid burlywood;
    border-left:5px solid burlywood;    

}

.headline2::after{
    content: '';
    position:absolute;
    bottom: 0;
    right:0;
    width:50px;
    height:50px;
    border-bottom:5px solid burlywood;
    border-right:5px solid burlywood;  

}

.headline2 h2{
    font-size:28px;
    letter-spacing: 3px;

}

.bottom-content{
    background-color: white;
    border: 1px solid burlywood;
    border-radius: 5px;

}

.bottom-content-title{
    font-size:20px;

}

.skills{
    width:60%;
    margin:0 auto;
    padding:20px 0 40px 0;
    display: flex;
}

.skill{
    flex:auto;

}

.skill p{
    font-size :5px;
}

.e-wrapper{
    background-image: url(Isara_img/aboutsecondbg.jpg);
    background-size: cover;
    padding:50px 0 30px 0;
    text-align: center;
}

.e-wrapper h2{
    font-size: 28px;
    letter-spacing: 3px;
    color:white;
}

.e-wrapper p{
    font-size: 20px;
    letter-spacing: 1px;
    color:white;
}

.e-wrapper span{
    color:burlywood;
}

.steps{
    display: flex;

}

.step{
    flex:auto;
    background-color: white;
    border-radius: 5px;
    margin:0 10px;
    padding:20px 0;
    width:100%;
}

.step p{
    font-size:16px;
    color:black;
}

.step-title{
    background-color: burlywood;
    border-radius: 5px;
    width:80%;
    margin:0 auto;
    color:white;
}

.f-wrapper{
    text-align: center;
    background-color: dodgerblue;
    padding: 20px;
}

.f-wrapper p{
    font-size:20px;
    color:white;
    letter-spacing: 1px;
}

.f-wrapper span{
    color:burlywood;
}

.g-wrapper{
    text-align: center;
    padding:30px 0;
}

.g-wrapper h2{
    font-size: 28px;
    letter-spacing: 3px;
}

.g-wrapper span{
    font-size:16px;

}

.abilities{
    display:flex;
    width:75%;
    margin:0 auto;
}

.ability{
    flex: auto;
}

.ability img{
    height:180px;
    width:180px;
}

.h-wrapper{
    text-align: center;
    background-color: blanchedalmond;
    padding:30px 0;
}

.merits{
    display: flex;
    text-align: start;
    padding:30px 0;
}

.merit{
    flex:auto;
    width:100%;
    margin: 0px 10px;
}

.merit img{
    width:100%;
    height:180px;
}

.merit-title{
    font-size: 20px;
    color:burlywood;
    letter-spacing: 1px;
    margin:5px 0;
}

.merit-content{
    font-size:16px;
    letter-spacing: 1px;
    margin:5px 0;
}

.h-wrapper-bottom{
    background-color: white;
    border: 1px solid burlywood;
    border-radius: 5px;
    padding:30px;
}

.h-wrapper-bottom-title{
    color:burlywood;
    font-size:28px;

}

.h-wrapper-bottom-message1{
    font-size:20px;

}

.h-wrapper-bottom-message2{
    font-size:16px;

}

.notification{
    font-size:14px;
    letter-spacing: 3px;

}

.i-wrapper{
    background-image: url(Isara_img/teacherbg.jpg);
    background-size: cover;
    text-align: center;
    padding:30px 0;
    color: white;
}

.members{
    display: flex;
    align-items: stretch;
}

.member{
    display: flex;
    flex-direction: column;
    flex: auto;
    margin:0 10px;
    width:100%;
}

.member-content{
    border: 3px solid white;
    padding:30px 0;
    flex-grow: 1;

}

.member img{
    border-radius: 99px;
    position: relative;
    top: 40px;
}

.member-content-left{
    text-align: left;
    width:80%;
    margin:0 auto;
}

.j-wrapper{
    text-align: center;
    background-color: burlywood;
    padding: 20px 0;
}

.j-wrapper p{
    color: burlywood;
    background-color: white;
    height: 80px;
    width:80px;
    border-radius: 40px;
    margin:0 auto;
    line-height: 80px;
}

.headline3{
    position:relative;
    height:160px;
    width: 70%;
    margin:0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline3::before{
    
    content: '';
    position:absolute;
    top: 0;
    left:0;
    width:50px;
    height:50px;
    border-top:5px solid white;
    border-left:5px solid white;    

}

.headline3::after{
    content: '';
    position:absolute;
    bottom: 0;
    right:0;
    width:50px;
    height:50px;
    border-bottom:5px solid white;
    border-right:5px solid white;  

}

.headline3 h2{
    font-size:28px;
    letter-spacing: 3px;
    color: white;
}

.k-wrapper{
    text-align: center;

}

.triangle{
    margin:0 auto;
    width:0;
    height:0;
    border-top: 50px solid burlywood;
    border-right: 50px solid transparent;
    border-left: 50px solid transparent;
}

.companies{
    display: flex;
    flex-direction: column;

}

.company{
    display: flex;
    width:75%;
    margin:20px auto;
}

.company-image img{
    height:240px;
    width:240px;
    border:3px solid burlywood;
}

.company-content{
    text-align:left;
    padding:0 20px;
    font-size:18px;
    color:darkgray;
    letter-spacing: 1px;
    font-style:italic;
}

.company-content span{
    font-size: 15px;
    text-decoration: underline;

}

.l-wrapper{
    text-align: center;
    background-image: url(Isara_img/classbg.jpg);
    background-size: cover;
    padding:30px 0;

}

.lesson-lists{
    display: flex;
    align-items: flex-start;
    width:60%;
    margin:0 auto;
    
}

.lesson-list{
    flex:auto;
    border: 2px solid dodgerblue;
    border-radius: 5px;
    width:100%;
    margin:0 10px;
    height:auto;
}

.lesson-list p{
    background-color: dodgerblue;
    margin:0;
    padding:16px;
}

.lesson-list ul{
    margin:0 auto;
    padding:0;
    background-color: white;
}

.lesson-list li{
    list-style: none;
    margin:0 auto;
    padding: 10px 0;
    width:fit-content;
    border-bottom: 1px dotted darkgray;
    width:100%;
}

.m-wrapper{
    text-align: center;
    background-color: dodgerblue;
    padding: 20px;
}

.m-wrapper p{
    font-size:20px;
    color:white;
    letter-spacing: 1px;
}

.n-wrapper{
    text-align: center;
    padding:20px 0;

}

.flow-content{
    display: flex;
    background-color: blanchedalmond;
    padding:20px 80px;
    border-radius: 5px;
}

.flow-left{
    padding:0 20px;
    margin:auto 0;
}

.flow-right{
    text-align: left;
    
}

.o-wrapper{
    text-align:left;
    background-image: url(Isara_img/bangkokbg.jpg);
    background-size: cover;
    padding:70px 0;
}

.p-wrapper{
    text-align: center;
    background-color: burlywood;
    padding:70px;
}

.privileges-title{
    position: relative;
    top: 50px;
    font-size: 28px;
    display: inline-block;
    background-color: burlywood;
}

.privileges{
    display: flex;
    padding:40px;
    border:1px solid white;
}

.privilege{
    display: inline-grid;
    align-content: center;
    width:60%;
    margin:0 auto;
    background-color: white;
    height: 250px;
    width:250px;
    border-radius: 125px;

}
.privilege-box{
    margin: auto;
    width: 80%;
}

.privilege-content{
    font-size: 14px;

}

.q-wrapper{
    text-align:center;
    background-image: url(Isara_img/specialdetail.jpg);
    background-size: cover;
    padding:30px 0;
}

.headline4{
    position:relative;
    height:80px;
    width: 70%;
    margin:0 auto;
}

.headline4::before{
    
    content: '';
    position:absolute;
    top: 0;
    left:0;
    width:50px;
    height:50px;
    border-top:5px solid white;
    border-left:5px solid white;    

}

.headline4::after{
    content: '';
    position:absolute;
    bottom: 0;
    right:0;
    width:50px;
    height:50px;
    border-bottom:5px solid white;
    border-right:5px solid white;  

}

.headline4 h2{
    color:white;
    line-height:80px;
    font-size:28px;
    letter-spacing: 3px;
}

.r-wrapper{
    text-align:center;
    padding:30px 0;
}

.founder-message{
    display: flex;
    width: 80%;
    margin:0 auto;
}

.founder-message-image{
    padding:0 10px;
}

.founder-message-image img{
    width:190px;
    height:140px;
}

.founder-message-content{
    font-size:14px;
    color: darkgray;
    padding:0 10px;
    text-align:left;

}

.s-wrapper{
    text-align: center;
    background-color: burlywood;
    padding:30px 0;
}