@media(max-width:1000px){
    .br1{
        display: block;
    }

    .skills{
        flex-wrap: wrap;
    }

    .merits{
        flex-direction: column;
    }

    .merit{
        margin:0 auto 10px auto;
        text-align: center;
    }

    .merit img{
        width: 300px;
        height:180px;
    }

    .privileges-pc{
        flex-direction: column;
    }

    .privilege{
        margin-bottom:10px ;
    }

    .founder-message{
        flex-direction: column;
        width: 100%;
    }

    .founder-message-image img{
        width: 100%;
        height: auto;
    }

    
}



@media(max-width:768px){

    .txtl{
        font-size: 18px;
        font-weight: 600;
    }
    
    .txtm{
        font-size: 15px;
        font-weight: 600;
    }
    
    .txts{
        font-size: 12px;
        font-weight: 300;
    }
    
    .txtxs{
        font-size: 10px;
        font-weight: 300;
    }

    .container{
        width: 95%;

    }

    .headline{
        position:relative;
        height:auto;
        width: 100%;
        margin:0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .headline::before{
        
        content: '';
        position:absolute;
        top: 0;
        left:0;
        width:30px;
        height:30px;
        border-top:5px solid burlywood;
        border-left:5px solid burlywood;    
    
    }
    
    .headline::after{
        content: '';
        position:absolute;
        bottom: 0;
        right:0;
        width:30px;
        height:30px;
        border-bottom:5px solid burlywood;
        border-right:5px solid burlywood;  
    
    }
    .headlinewhite{
        position:relative;
        height:auto;
        width: 100%;
        margin:0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .headlinewhite::before{
        
        content: '';
        position:absolute;
        top: 0;
        left:0;
        width:30px;
        height:30px;
        border-top:5px solid white;
        border-left:5px solid white;    
    
    }
    
    .headlinewhite::after{
        content: '';
        position:absolute;
        bottom: 0;
        right:0;
        width:30px;
        height:30px;
        border-bottom:5px solid white;
        border-right:5px solid white;  
    
    }
    
    .headline h2{
        padding:10px;
    }

    .headlinewhite h2{
        padding:10px;
    }

    .header{
        height: 62px;
    }

    .header-left{
        flex-direction: column-reverse;
        position: absolute;
        top: 5;
        left: 0;
    }

    .header-left p{
        margin: 0;
    }

    .header-left img{
        width:90px;
        height:30px;
    }

    .header-right-pc{
        display:none
    }

    .header-right-sp{
        opacity: 0.8;
        display: flex;
        flex-direction: column;
        text-align: center;
        position: absolute;
        right:0;
        top: 0;
        padding:9px 11px;
        background-color: brown;
    }

    .header-right-sp img{
        height:24px;
        width:20px;
        margin: 0 auto;
    }

    .header-right-sp a{
        margin-top: 2px;
        color: white;
    }

    .a-wrapper{
        margin-top:62px;
        padding: 0;
        height: 312px;
        width: 100%;
        display: table;
    }

    .a-wrapper img{
        vertical-align: middle;
        width: 90%;
        max-width:317px;
    }

    .recruit{
        padding: 15px 20px;
    }

    .c-wrapper{
        background-position: center bottom;
    }

    .e-wrapper{
        background-position: center;
    }

    .e-wrapper .txtm{
        font-size: 13px;
        letter-spacing: 0;
    }

    .f-wrapper .txtm{
        font-size: 12px;
    }

    .merit img{
        width: 100%;
        height:120px;
    }

    .h-wrapper-bottom{
        padding: 15px;
    }

    .h-wrapper-bottom .txts{
        font-size: 10px;
        letter-spacing: 0;
    }

    .member-img img{
        width: 120px;
    }

    .members{
        flex-direction: column
    }

    .member{
        margin:0;
    }

    .j-wrapper .txtl{
        font-size: 14px;
    }

    .company{
        width: 100%;
    }

    .reason{
        width: 90%;
    }

    .message p{
        font-size: 15px;
    }

    .steps{
        flex-direction: column;
    }

    .step{
        margin:0 auto;
        width:80%;
        margin-bottom: 10px;
    }

    .lesson-lists{
        flex-direction: column;
        width: 90%;
    }

    .lesson-list{
        margin: 0 0 10px 0;
    }

    .privileges-pc{
        display: none;
    }

    .privileges-sp{
        display: flex;
        flex-direction: column;
        padding:40px;
        border:1px solid white;
    }

    .privilege-sp{
        display: flex;
        margin-bottom: 10px;
    }

    .privilege-title-sp{
        line-height: 60px;
        width:60px;
        height:60px;
        background-color: white;
        border-radius: 30px;
        margin-right: 10px;
    }

    .privilege-content-sp{
        margin:auto 0;
        color: white;
        text-align: left;
    }

    .n-wrapper{
        display:none;
    }

    .n-wrapper-sp{
        display: block;
        text-align: center;
    }

    #flow-list{
        padding:0;

    }

    .flow-header{
        display: flex;
        position: relative;
    }

    .flow-header.down:before{
        content: "";
        width: 6px;
        height:6px;
        border-bottom: 5px solid black;
        border-right: 5px solid black;
        transform: rotate(45deg);
        position: absolute;
        top: 10px;
        right: 10px;
      }
    
      .flow-header.up:before{
        content: "";
        width: 6px;
        height:6px;
        border-top: 5px solid black;
        border-left: 5px solid black;
        transform: rotate(45deg);
        position: absolute;
        right: 10px;
      }

    .flow-header img{
        width:35px;
        height:35px;
        margin-right: 15px;
    }

    .flow-header a{
        display: block;
        margin:auto 0;

    }

    .flow-list-item{
        list-style: none;
        background-color: blanchedalmond;
        border-radius: 5px;
        padding: 10px;
        margin-bottom: 5px;
    }

    .flow-body{
        display: none;
        text-align: left;
    }
}